<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h1>Productos</h1>
<a href="{% url 'crear_productos' %}">Crear Producto</a>
<table borde ="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoría</th>
      <th>Activo</th>
      <th>Acciones</th>
    </tr>
  </thead>
<tbody>
  {% for producto in productos %}
  <tr>
    <td>{{ producto.nombre }}</td>
    <td>{{ producto.descripcion }}</td>
    <td>{{ producto.precio }}</td>
    <td>{{ producto.stock }}</td>
    <td>{{ producto.categoria }}</td>
    <td>{{ producto.activo|yesno:"Sí,No" }}</td>
    <td>
      <a href="{% url 'actualizar_productos' producto.pk %}">Editar</a> |
      <a href="{% url 'eliminar_productos' producto.pk %}">Eliminar</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="7">No hay productos.</td></tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}